<div class="form-group">
    <label for="stuno" class="col-sm-2 control-label">学号</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="stuno" name="stuno" value="{$one["stuno"]}"  placeholder="" required>
    </div>
  </div><div class="form-group">
    <label for="sex" class="col-sm-2 control-label">性别</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="sex" name="sex" value="{$one["sex"]}"  placeholder="" required>
    </div>
  </div><div class="form-group">
    <label for="realname" class="col-sm-2 control-label">姓名</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="realname" name="realname" value="{$one["realname"]}"  placeholder="" required>
    </div>
  </div><div class="form-group">
    <label for="majorid" class="col-sm-2 control-label">专业id</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="majorid" name="majorid" value="{$one["majorid"]}"  placeholder="">
    </div>
  </div><div class="form-group">
    <label for="majorname" class="col-sm-2 control-label">专业名称</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="majorname" name="majorname" value="{$one["majorname"]}"  placeholder="">
    </div>
  </div><div class="form-group">
    <label for="syear" class="col-sm-2 control-label">年级</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="syear" name="syear" value="{$one["syear"]}"  placeholder="">
    </div>
  </div><div class="form-group">
    <label for="classid" class="col-sm-2 control-label">班级id</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="classid" name="classid" value="{$one["classid"]}"  placeholder="">
    </div>
  </div><div class="form-group">
    <label for="classname" class="col-sm-2 control-label">班级名称</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="classname" name="classname" value="{$one["classname"]}"  placeholder="">
    </div>
  </div><div class="form-group">
    <label for="duty" class="col-sm-2 control-label">职务</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="duty" name="duty" value="{$one["duty"]}"  placeholder="" >
    </div>
  </div><div class="form-group">
    <label for="intro" class="col-sm-2 control-label">简介</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="intro" name="intro" value="{$one["intro"]}"  placeholder="">
    </div>
  </div><div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				  <button type="submit" class="btn btn-default">提交</button>
				</div>
			  </div>