<include file="Public:header" />
<include file="Public:left" />
<include file="title" />

<hr />
<h3>信息维护</h3>

<form class="form-horizontal" action="{:U('search',array('tbl'=>$tbl,'skey'=>'ZYMC'))}" method="post">
  <div class="form-group">
    <div class="col-xs-2 visible-xs"></div>
    <div class="col-xs-8 col-sm-4 col-sm-offset-6">
			 <input type="text" class="form-control" name="search_key"  required>
	  </div>
    
    <div class="col-xs-2 col-sm-2">
     <input type="submit" class="btn btn-default" value="搜索">
    </div>
  </div>

</form>
<form method="post" onsubmit="return confirm('您确定要批量操作吗？')" action="{:U('bacts',array('tbl'=>$tbl))}">
<input id="action" type="hidden" name="action" value="dels">
<table  class="table table-striped lists">
<tr>
   <td>排序</td>
   <td>选择</td>
	<td>id</td>
	<td>专业代码</td>
	<td>专业名称</td>
	<td>操作&nbsp;&nbsp;<a  href="{:U('form',array('tbl'=>$tbl))}">添加</a></td>
</tr>
<volist name="list" id="vo">
<tr>
  <td width="50"><input type="text" size="1" class="text-center" name="listorder[]" value="{$vo.listorder|default='1'}"></td>
  <td width="50" class="text-center"><input type="checkbox" name="id[]" value="{$vo.id}" /></td>
	<td width="50">{$vo.id}</td>
  <td>{$vo.zydm}</td>
  <td>{$vo.zymc}</td>
  
  <td><include file="Public:buttons" />
  </td>
</tr>
</volist>
<tr>
<td colspan="6">
<include file="Public:dels" />
</td>
</tr>
</table>
</form>
{$page}
<include file="Public:footer" />

