<include file="Public:header-video" />

<div class="container himg-logo">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">


            
						<div class="jumbotron mlist">
						<p class="pull-right visible-xs">
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle</button>
                    </p>
    
            <h2>课程视频</h2>
            <video src="__ROOT__/vdvideo/{$list[0]['vaddress']}" width="100%" height="100%" autoplay="autoplay" controls="controls">您的浏览器不支持此种视频格式。</video>
				<input type="hidden" id="vaddress" />
          </div>

        </div>
        <!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div class="list-group">
			    <h2>视频目录</h2>
			    <volist name="list" id="vo">
				
            <a href="#" class="list-group-item <eq name="i" value="1">active</eq>" id="{$vo.id}" alt="{$vo.hits}">{$vo.section}-{$vo.intro}</a>
			   
            </volist>
					<volist name="list" id="vo">
				
            
			    <input type="hidden" id="vaddress{$i}" value="{$vo.vaddress}" />
            </volist>	           
        </div>
        <!--/.sidebar-offcanvas-->
    </div>
    <!--/row-->
</div>
</div>
<!--/.container-->

    <footer>
        <p>&copy; 郡笑笙 2015-2018</p>
		 <p><a href="{:U('admin/login/form')}" >管理入口</a></p>
    </footer>




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="__PUBLIC__/assets/js/jquery.min.js"></script>
<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="__PUBLIC__/assets/js/ie10-viewport-bug-workaround.js"></script>

<script src="__PUBLIC__/assets/js/offcanvas.js"></script>
<script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })
	$(".list-group-item").click(function(){
		var index=$(this).index();
		var vaddress = $("#vaddress"+index).val();
		$(this).addClass("active").siblings().removeClass("active");		
		$("video").attr("src","__ROOT__/vdvideo/"+vaddress);
		var action = "{:U('Home/video/hits')}";
		var id = $(this).attr("id");
		var hits = $(this).attr("alt");
		$.ajax({
				type:"POST",
				url:action,
				data:{"id":id,"hits":hits},
				success:function(json){
					
					$(".list-group-item").eq(index-1).attr('alt',parseInt(hits)+1);
				}
			});
	})
</script>
</body>
</html>
